<!DOCTYPE html>
<html translate="no" oncopy="return false;" oncut="return false;" ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;" class="modal-open">
    <head>
        <%- include('../modules/head') %>
        <title>Error 500 | Qurre Host</title>
        <meta property="og:title" content="Error 500" />
        <link rel="stylesheet" href="/css/error/500.css">
    </head>
    <body translate="no"><div id="console"></div></body>
    <script src="/js/all.js"></script>
    <script src="<%= cdn_host %>/scpsl.store/js/jquery/jquery.min.js"></script>
    <script src="/js/500.js"></script>
    <script src="/js/fixes.js"></script>
</html>